@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    box-sizing: border-box;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* scroll half the content width */
}

.animate-scroll {
  display: flex;
  gap: 2rem;
  animation: scroll 20s linear infinite;
}
