@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Funnel Display", sans-serif;
  background-color: #141414;
  box-sizing: border-box;
  position: relative;
}

#root {
  box-sizing: border-box;
}

@layer base {
  :root {
    /* Scrollbar size */
    --sb-size: 3px;

    /* Colors */
    /* --sb-thumb: theme(colors.gray.500); */
    --sb-thumb: transparent;
    --sb-thumb-hover: theme(colors.gray.400);
    --sb-track: transparent;

    /* Radius */
    --sb-radius: 999px;
  }
}




@layer utilities {
  .scrollbar-thin {
    scrollbar-width: 20px; /* Firefox */
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: var(--sb-track);
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: var(--sb-thumb);
    border-radius: var(--sb-radius);
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: var(--sb-thumb-hover);
  }
}



@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* scroll half the content width */
}

.animate-scroll {
  display: flex;
  gap: 2rem;
  animation: scroll 20s linear infinite;
}
